// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
html,
body,
main {
    height: 100%;
}
#app {
    max-width: 1200px;
    height: 100%;
}
.center-column {
    border: 1px solid rgb(56, 68, 77);
    border-top: none;
    height: 100%;
    .title-box {
        padding: 10px;
        h1 {
            font-size: 1.2rem;
            font-weight: 800;
            margin: 0;
        }
    }
    .post-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid rgb(56, 68, 77);
        border-left: none;
        border-right: none;
        padding: 10px 20px;
        input {
            width: 80%;
            background: transparent;
            padding: 10px 15px;
            border: none;
            height: 39px;
            color: white;
            font-size: 1.2rem;
            &::placeholder {
                color: #9197a3;
            }
            &:focus {
                border: none;
                outline: none;
            }
        }
        .controls {
            button {
                border-radius: 999px;
            }
        }
    }
}
.profile-image {
    width: 35px;
    height: 35px;
    background: url(https://via.placeholder.com/50) no-repeat center/cover;
    margin-right: 10px;
}

.tweet {
    transition: background 0.5s;
    cursor: pointer;
    &:hover {
        background: lighten($body-bg, 5);
    }
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(56, 68, 77);
    .profile-image {
        width: 50px;
        height: 50px;
    }
    .wrapper {
        display: flex;
        align-items: center;
        .content-wrapper {
            display: flex;
            flex-direction: column;
            width: calc(100% - 60px);
            .name {
                font-weight: 800;
                font-size: 0.96rem;
            }
            .retweet {
                font-size: 0.76rem;
                color: rgb(136, 153, 166);
            }
        }
    }
    .controls {
        margin-top: 15px;
        margin-left: 60px;
        color: rgb(136, 153, 166);
        font-size: 1.2rem;
        display: flex;
        div {
            margin-right: 50px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            span {
                font-size: 1rem;
                margin-left: 10px;
            }
            &:hover {
                color: white;
                span {
                    color: rgb(136, 153, 166);
                }
            }
        }
    }
}

nav {
    a {
        font-size: 1.2rem;
        color: white;
        margin-bottom: 35px;
        font-weight: bold;
        svg {
            margin-right: 15px;
        }
        img.profile-image {
            width: 26.5px;
            height: 26.5px;
        }
        &:hover,
        &.active {
            text-decoration: none;
            color: $primary;
        }
    }
}
