<template>
  <div class="container mx-auto">
    <div class="row justify-content-center h-100">
      <div class="col-3">
        <main-menu :user="this.userData"></main-menu>
      </div>
      <div class="col-6">
        <main-column :user="this.userData" :tweets="this.tweets"></main-column>
      </div>
      <div class="col-3">
        <h1>test test test</h1>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../app";
export default {
  created: function() {
    this.tweets = this.tweetArray;
  },
  mounted: function() {
    EventBus.$on("likes", x => {
      console.log("rec");
      this.$set(this.tweets[0], "isLiked", true);
    });
  },
  data: function() {
    return {
      tweets: null
    };
  },
  props: {
    tweetArray: {
      type: Array,
      required: true
    },
    userData: {
      type: Object,
      required: true
    }
  }
};
</script>
