<template>
  <div>
    <font-awesome-icon class="fa-2x mb-4 mt-2" :icon="['fab', 'twitter']"></font-awesome-icon>
    <nav class="d-flex flex-column text-white">
      <a href="/" class="active">
        <font-awesome-icon class="fa-lg" :icon="['fas', 'home']"></font-awesome-icon>Home
      </a>
      <a href="#">
        <font-awesome-icon class="fa-lg" :icon="['fas', 'hashtag']"></font-awesome-icon>Explore
      </a>
      <a href="/notifications">
        <font-awesome-icon class="fa-lg" :icon="['fas', 'bell']"></font-awesome-icon>Notifications
      </a>
      <a href="/messages">
        <font-awesome-icon class="fa-lg" :icon="['fas', 'envelope']"></font-awesome-icon>Messages
      </a>
      <a href="#">
        <font-awesome-icon class="fa-lg" :icon="['fas', 'bookmark']"></font-awesome-icon>Bookmarks
      </a>
      <a href="#">
        <font-awesome-icon class="fa-lg" :icon="['fas', 'list']"></font-awesome-icon>Lists
      </a>
      <a :href="'/profile/'+this.name">
        <img class="profile-image rounded-circle" :src="this.avatarPath" alt="profile" />Profile
      </a>
      <a href="#">
        <font-awesome-icon class="fa-lg" :icon="['fas', 'ellipsis-h']"></font-awesome-icon>More
      </a>
    </nav>
    <button class="btn btn-primary rounded-pill py-3 w-75">Tweet</button>
  </div>
</template>

<script>
import { EventBus } from "../app";
export default {
  data: function() {
    return {
      avatarPath: "",
      name: ""
    };
  },
  mounted: function() {
    this.name = this.user.name;
    EventBus.$on("userData", user => (this.avatarPath = user.data.avatar));
  },
  props: ["user"]
};
</script>
