<template>
  <div class="center-column">
    <div class="title-box">
      <h1>Home</h1>
    </div>
    <tweet-postbox></tweet-postbox>
    <tweet-container :user="this.user" :tweets="this.tweets"></tweet-container>
  </div>
</template>
<script>
export default {
  props: {
    tweets: {
      type: Array,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  }
};
</script>
