<template>
  <div class="tweet-container">
    <div
      v-for="(tweet, i) in tweetData"
      v-bind:key="`${i}-${tweet.id}`"
      :data-tw-id="`${tweet.id}`"
    >
      <tweet @like-existing="applyLikes" :user="userData" :tweet="tweet"></tweet>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../app";
export default {
  props: ["tweets", "user"],
  data: function() {
    return {
      tweetData: [],
      userData: null
    };
  },
  mounted() {
    this.tweetData = this.tweets;
    this.userData = this.user;
    EventBus.$on("add-tweet", newTweet => {
      this.tweetData.unshift(newTweet);
    });
  },
  methods: {
    applyLikes: function(id) {
      var likeAmount = 0;
      this.tweetData.forEach(tweet => {
        if (tweet.id == id) {
          console.log("hittt");
          document
            .querySelectorAll('[data-tw-id="' + tweet.id + '"] .fa-heart')
            .forEach(el => el.classList.add("text-danger"));
          //   document
          //     .querySelectorAll('[data-tw-id="' + tweet.id + '"] span')
          //     .forEach(el => {
          //       if (parseInt(el.innerHTML) > likeAmount) {
          //         likeAmout = parseInt(el.innerHTML);
          //       }
          //     });
          //   document
          //     .querySelectorAll('[data-tw-id="' + tweet.id + '"] span')
          //     .forEach(el => {
          //       el.innerHTML = likeAmount;
          //     });
        }
      });
    }
  }
};
</script>