<template>
  <div class="post-box">
    <div class="w-100 d-flex align-items-center">
      <img v-bind:src="avatarPath" class="profile-image rounded-circle" />
      <input v-model="message" type="text" id="tweetText" placeholder="Whats happening?" />
    </div>
    <div class="controls d-flex align-items-center w-100">
      <button class="btn btn-primary ml-auto" @click="postTweet" id="postTweet">Tweet</button>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../app";
export default {
  data: function() {
    return {
      message: "",
      avatarPath: ""
    };
  },
  mounted: function() {
    EventBus.$on("userData", user => (this.avatarPath = user.data.avatar));
  },
  methods: {
    postTweet: async function() {
      let response = await axios.post("/tweet", {
        message: this.message
      });
      EventBus.$emit("add-tweet", response.data);
      this.message = "";
    }
  }
};
</script>
