<template>
  <div class="tweet">
    <div class="wrapper">
      <img v-bind:src="avatarPath" class="profile-image rounded-circle" />
      <div class="content-wrapper">
        <p v-show="isARetweet" class="m-0 retweet">{{tweet.retweetUser}} retweeted</p>
        <p class="m-0 name">{{tweet.owner.name}}</p>
        <p class="m-0 tweet-text">{{tweet.message}}</p>
      </div>
    </div>
    <div class="controls">
      <div>
        <font-awesome-icon :icon="['far', 'comment-dots']" />
      </div>
      <div>
        <font-awesome-icon :icon="['fas', 'retweet']" @click="retweet(tweet)" />
      </div>
      <div>
        <font-awesome-icon
          v-bind:class="{ 'text-danger': isLiked }"
          :icon="['fas', 'heart']"
          @click="likeTweet(tweet, $event)"
        />
        <span>{{likesAmount}}</span>
      </div>
      <div>
        <font-awesome-icon :icon="['fas', 'external-link-alt']" />
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../app";
export default {
  mounted: function() {
    if (this.tweet.likes) {
      this.likesAmount = this.tweet.likes.length;
      this.tweet.likes.forEach(like => {
        if (
          like.user_id ==
          this.user.id
        ) {
          this.isLiked = true;
        }
      });
    }
  },
  data: function() {
    return {
      isLiked: false,
      likesAmount: 0,
      avatarPath: this.tweet.owner.data.avatar,
      isARetweet: this.tweet.isARetweet
    };
  },
  props: {
    tweet: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  methods: {
    retweet: function(tweet) {
      axios
        .post("/tweet/" + tweet.id + "/retweet/")
        .then(response => response.data)
        .then(tweetObject => {
          tweetObject.isARetweet = true;
          tweetObject.retweetUser = this.user.name;
          EventBus.$emit("add-tweet", tweetObject);
        });
    },
    likeTweet: function(tweet, event) {
      if (this.isLiked) {
        axios
          .put("/tweet/" + tweet.id + "/unlike")
          .then(() => (this.isLiked = !this.isLiked));
        this.likesAmount--;
        this.$emit("unlike-existing", tweet.id);
      } else {
        axios
          .put("/tweet/" + tweet.id + "/like")
          .then(() => (this.isLiked = !this.isLiked));
        this.$emit("like-existing", tweet.id);
        this.likesAmount++;
      }
    }
  }
};
</script>
